
<div
class="mb-10"
 *ngIf="eliminada">
  <p class="from-green-400 to-green-600 bg-gradient-to-br text-center p-2 rounded-xl uppercase font-bold text-white text-sm">
    La tarea ha sido eliminada con éxito.
  </p>
</div>
<div 
*ngFor="let tarea of tareasHijo"
class="border-b p-5 flex justify-between items-center">

    <div
    >
        <p class="text-xl mb-1">{{tarea.nombre}}</p>
        <p class="text-sm mb-1 text-gray-500 uppercase">{{tarea.descripcion}}</p>
        <p class="mb-1 text-xl">{{tarea.fechaEntrega | date }}</p>
        <p class="mb-1 text-gray-600">Prioridad: {{tarea.prioridad}}</p>
        <p class="text-xs bg-sky-700 font-bold uppercase p-3 rounded-lg text-white" *ngIf="taskCompleted">Completada por: {{email}}
        </p>

    </div>

    <div
     class="flex flex-col lg:flex-row gap-2">
        <button
        *ngIf="esAdmin"
        (click)="editar(tarea.id!)"
        class="bg-indigo-600 px-4 py-3 text-white uppercase font-bold text-sm rounded-lg"
        >Editar</button>

        <button
        (click)="toggleTarea(tarea.id!)"
        [ngClass]="taskCompleted ? 'bg-sky-600 px-4 py-3 text-white uppercase font-bold text-sm rounded-lg' : 'bg-gray-600 px-4 py-3 text-white uppercase font-bold text-sm rounded-lg'  "
        >{{taskCompleted ? 'Completa' : 'Incompleta'}}</button>

        <button
        *ngIf="esAdmin"
        (click)="eliminar(tarea.id!)"
        class="bg-red-600 px-4 py-3 text-white uppercase font-bold text-sm rounded-lg"
        >Eliminar</button>

    </div>

</div>