
<div  class="flex justify-between" *ngFor="let proyecto of proyecto">
  <h1 class="font-black text-4xl">{{ proyecto.nombre }}</h1>

  <div *ngIf="esAdmin"
    class="flex items-center gap-2 text-gray-400 hover:text-black cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
      />
    </svg>

    <a 
      [routerLink]="['/proyectos/editar/', proyecto.id]"
      class="uppercase font-bold"
      >Editar</a
    >
  </div>
</div>

<button *ngIf="esAdmin"
  (click)="openDialog()"
  type="button"
  class="flex gap-2 items-center justify-center text-sm m-5 px-5 py-3 w-full md:w-auto rounded-lg uppercase font-bold bg-sky-400 text-white text-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  Nueva tarea
</button>

<p class="font-bold text-xl mt-10">Tareas del proyecto</p>
<mat-spinner *ngIf="spinner"></mat-spinner>
<div
class="mb-10"
 *ngIf="tareaEliminada">
  <p class="from-sky-400 to-sky-600 bg-gradient-to-br text-center p-2 rounded-xl uppercase font-bold text-white text-sm">
    La tarea ha sido eliminada con éxito.
  </p>
</div>
<div class="bg-white shadow mt-10 rounded-lg">
  <div *ngIf="tareaCreada.length == 0; else Tareas">
    <p class="text-center my p-10">No hay tareas en este proyecto</p>
  </div>
  <ng-template #Tareas>
    <app-tarea 
    [esAdmin]="esAdmin"
    (tareaEliminada)="eliminarTarea($event)"
    [tareasHijo]="tareaCreada"></app-tarea>
  </ng-template>


</div>

<div *ngIf="esAdmin">
<div
*ngFor="let proyecto of proyecto"
class="flex items-center justify-between mt-10">
  <p class="font-bold text-xl">Colaboradores</p>
  <a 
  class="text-gray-400 uppercase font-bold hover:text-black"
  [routerLink]="['/proyectos/nuevoColaborador/', proyecto.id]">Añadir</a>
</div>

<div *ngIf="eliminado">
  <p>
    <p class="from-sky-400 to-sky-600 bg-gradient-to-br text-center p-3 rounded-xl uppercase text-white font-bold text-sm my-10">
      El colaborador ha sido eliminado.
  </p>
</div>
<div class="bg-white shadow mt-10 rounded-lg">
  <div *ngIf="colaboradores.length == 0; else Colaboradores">
    <p class="text-center my p-10">No hay colaboradores en este proyecto</p>
  </div>
</div>

<ng-template #Colaboradores>
<app-colaboradores
(colaboradorEliminado)="colaboradorEliminado($event)"
[colaboradoresHijo]="colaboradores"></app-colaboradores>
</ng-template>
</div>


