<h1 class="text-center">Crear tarea</h1>
<form [formGroup]="crearTarea" class="my-5">
  <div class="mb-5 p-5">
    <label 
    for="nombre"
    class="text-gray-700 uppercase font-bold text-sm"
      >Nombre tarea</label
    >

    <input
    id="nombre"
    type="text"
    placeholder="Nombre tarea"
    class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
    formControlName="nombre"
    
    />
  </div>

  <div class="p-5">
    <label 
    for="Descripción"
    class="text-gray-700 uppercase font-bold text-sm"
      >Descripción tarea</label
    >

    <textarea
    id="Descripción"
    formControlName="descripcion"
    class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
    placeholder="Descripción tarea"

  ></textarea>
    
  </div>

  <div class="p-5">
    <label 
    for="prioridad"
    class="text-gray-700 uppercase font-bold text-sm"
      >Prioridad</label
    >

   <select
   formControlName="prioridad"
    class="border-2- w-full p-2 mt-2 placeholder-rounded-md"
   >

   <option value="">-- Seleccionar --</option>
   <option value="Baja">Baja</option>
   <option value="Intermedia">Intermedia</option>
   <option value="Alta">Alta</option>


   </select>

   <button 
   (click)="crear()"
   class="bg-sky-600 hover:bg-sky-700 w-full p-3 text-white mt-5 uppercase font-bold transition-colors rounded"
   mat-button 
   [mat-dialog-close]="true" 
   cdkFocusInitial>Crear</button>

  </div>
</form>
